@using WebApp.Business
@using WebApp.Utilities.Helpers
@using WebApp.Utilities.MessageBox
@{
    var mmMessage = ViewBag.MmMessage as MmMessage;
    var secilenRaporTipIds = (List<int>)ViewBag.RaporTipIds;

    var raporTipData = RaporlarBus.GetRaporTipleri(secilenRaporTipIds);
    raporTipData.InputName = "RaporTipIDs";
    raporTipData.PanelTitle = "Rapor Tiplerini Seçiniz";
    raporTipData.ScrollMaxHeight = 250;
}

<div class="row">
    @using (Html.BeginForm("Index", "RprKurumRaporlari", FormMethod.Post, new { id = "frmRprKurumRaporlari" }))
    {
        <div class="col-md-12">

            <!-- START SIMPLE DATATABLE -->
            <div class="panel panel-info" id="pnlFltr">
                <div class="panel-heading padding-0">
                    <h3 class="panel-title" id="rTitle">
                        <i class="fa fa-bar-chart-o"></i>Kurum Raporu Alma İşlemi
                    </h3>
                </div>
                <div class="panel-body">

                    @Html.Hidden("export", false)

                    <div class="panel panel-default form-horizontal">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label">Rapor Süreci Seçiniz</label>
                                <div class="col-md-10 col-xs-10">
                                    @Html.DropDownList("VASurecID", null, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label"></label>
                                <div class="col-md-10 col-xs-10">
                                    @raporTipData.ToRenderPartialViewHtml("Ajax", "GetChkList")
                                </div>
                            </div>
                           
                            <div class="form-group">
                                <label class="col-md-2 col-xs-2 control-label"></label>
                                <div class="col-md-10 col-xs-10">
                                    <a href="javascript:void(0);" onclick="$('#export').val('true'); $('#frmRprKurumRaporlari').submit(); $('#export').val('false');" class="btn btn-info"><i class="fa fa-bar-chart-o fa-lg"></i> Rapor Al</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script>
        $(function () {
        var model = '@Html.Raw(Json.Encode(mmMessage))';
        validateControl(model);
    });
</script>
