@using WebApp.Utilities.Extensions
@model  WebApp.Utilities.Dtos.AciklamaListModel
@{
    Layout = null;

}
<div class="panel panel-danger" id="VKListPnl" style="margin-top:10px;">
    <div class="panel-heading padding-0">
        <h3 class="panel-title"><i class="fa fa-comments-o fa-lg"></i>Eklenen Açıklamalar</h3>
        <ul class="panel-controls">
            <li><a href="javascript:void(0);" onclick="GetAckList();" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
        </ul>
    </div>
    <div class="panel-body" style="padding:0px;">
        <div style="overflow:auto;max-height:300px;">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="50">Dönem</th>
                        <th>Açıklama</th>
                        <th width="110">Eklenme Tarihi</th>
                        <th width="30" style="text-align:center;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>

                            <td id="tdAAyAdi_@item.VASurecleriMaddeEklenenAciklamaID">@(item.VACokluVeriDonemID.HasValue ? item.VACokluVeriDonemleri.CokluVeriDonemAdi : "Genel")</td>
                            <td id="tdAAciklama_@item.VASurecleriMaddeEklenenAciklamaID">
                                @item.Aciklama
                            </td>
                            <td>@item.IslemTarihi.ToFormatDateAndTime()</td>
                            <td>
                                @if (Model.KayitYetki)
                                {
                                    <a href="javascript:void(0)" onclick="AciklamaSilmeOnay(this,@item.VASurecleriMaddeEklenenAciklamaID)"><i class="fa fa-trash-o fa-lg" title="Açıklamayı Sil"></i></a>
                                }
                            </td>
                        </tr>

                    }
                    @if (Model.Data.Count == 0)
                    {
                        <tr>
                            <td colspan="4" style="text-align:center;color:maroon;">Eklenen Açıklama Yok</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

