@using WebApp.Models
@model MdlMailMainContent
@{
    Layout = null;
}   
<div style="background-color:#d6dde5;font-size:13px">
    <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0">
        <tbody>
            <tr>
                <td>
                    <table width="750" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;background-color:#496a97" align="center" bgcolor="#496a97">
                        <tbody>
                            <tr>
                                <td style="border:none;border-spacing:0;vertical-align:top" align="center" valign="top">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>
                                                <td width="750" style="border:none;border-spacing:0;vertical-align:top">
                                                    <table style="width:100%;table-layout:fixed;" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align:center;">
                                                                    <img alt="" src="@Model.LogoPath" style="max-width:60px;margin:0px auto;" width="60" />

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align:center;">

                                                                    <span style="font-size: 20px;color: rgb(255, 255, 255);font-family: 'Times New Roman', Helvetica, Arial, sans-serif">@Model.UniversiteAdi</span> <br />
                                                                    <span style="font-size: 16px;color: rgb(212, 205, 196);font-family: 'Times New Roman', Helvetica, Arial, sans-serif">performans.yildiz.edu.tr</span>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0">
        <tbody>
            <tr>
                <td>
                    <table width="750" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;background-color:#ffffff" align="center" bgcolor="#ffffff">
                        <tbody>
                            <tr>
                                <td style="border:none;border-spacing:0;vertical-align:top;padding:10px;" align="left" valign="top">
                                    @Html.Raw(Model.Content)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0">
        <tbody>
            <tr>
                <td>
                    <table width="750" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;background-color:#496a97" align="center" bgcolor="#496a97">
                        <tbody>
                            <tr>
                                <td style="border:none;border-spacing:0;vertical-align:top" align="center" valign="top">
                                    <p>
                                        <span style="color: rgb(255, 255, 255)">
                                            <span style="font-family: 'Times New Roman', Helvetica, Arial, sans-serif">© 2019 &nbsp;YTU Performans</span>
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>